[submodule "ext/hwmalloc"]
	path = ext/hwmalloc
    url = https://github.com/ghex-org/hwmalloc.git
	branch = align_2mb
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
    branch = main
